<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" style="margin-left: 1rem;">PCM</a>
  <a class="navbar-brand">Gestión de mesas</a>
  <a class="navbar-brand">Mozo</a>
</nav>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['mesa']" style="cursor: pointer;">Mesas</a>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<app-toast></app-toast>
