<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fn-pcm-examen.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0e449aa2-94d2-44ba-a6cc-59e2c3baeb65/resourceGroups/rg-pcm-examen/providers/Microsoft.Web/sites/fn-pcm-examen</ResourceId>
    <UserName>$fn-pcm-examen</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fn-pcm-examen.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>