.product-success .input-group-text {
    background-color: rgba(25, 135, 84, 1) !important;
    color: white;
}
.product-danger .input-group-text {
    background-color: rgba(220, 53, 69, 1) !important;
    color: white;
}
.product-warning .input-group-text {
    background-color: rgb(202, 159, 31) !important;
    color: white;
}
